Repository cfug/flutter.cn, pull requests merged in 2020-07, with the labels that each got.

#694 [翻译完成] docs/development/packages-and-plugins/plugin-api-migration.md
  src/docs/development/packages-and-plugins/plugin-api-migration.md
Labels: Review: ~30分钟, 开发文档 (Development)

#696 [翻译完成] /docs/development/data-and-backend/state-mgmt/options.md
  src/docs/development/data-and-backend/state-mgmt/options.md
Labels: Review: ~30分钟, 开发文档 (Development), 待润稿, 需要校对

#685 [完成翻译] /docs/development/add-to-app/android/project-setup.md
  src/docs/development/add-to-app/android/project-setup.md
Labels: Review: ~30分钟

#703 Fix alert content format for #700
  src/docs/development/add-to-app/android/project-setup.md
Labels: S: 修改 (Fixes)
