Repository cfug/flutter.cn, pull requests merged in 2020-11, with the labels that each got.

#738 [完成翻译] apple watch.
  src/docs/development/platform-integration/apple-watch.md
Labels: PRI: 需要校对, Review: ~30分钟, Status: 校对已认领

#737 [完成翻译] ios app clip
  src/docs/development/platform-integration/ios-app-clip.md
Labels: PRI: 待修改, Review: 30~45分钟, S: 开发文档 (Development), Status: 校对已认领

#748 [内容更新] src/docs/development/data-and-backend/json.md
  src/docs/development/data-and-backend/json.md
Labels: PRI: 待润稿, Review: 30~45分钟, S: 开发文档 (Development)

#747 [内容更新] src/doc/development/ui/advanced/splash-screen.md
  src/docs/development/ui/advanced/splash-screen.md
Labels: PRI: 待润稿, Review: ~30分钟, S: 开发文档 (Development)

#750 [完成翻译] src/desktop.md
  src/desktop.md
Labels: PRI: 需要校对, Review: 30~45分钟, S: 开发文档 (Development)

#749 navigator2.0 community tutorial
  src/community/tutorials/understanding-navigator-v2.md
Labels: PRI: 待润稿, PRI: 需要校对, Review: 30~45分钟, S: 社区文章 (Community)

#754 [完成翻译] src/docs/development/add-to-app/android/add-flutter-screen.md
  src/docs/development/add-to-app/android/_initial-route-cached-engine.md
  src/docs/development/add-to-app/android/add-flutter-screen.md
Labels: PRI: 需要校对, Review: ~30分钟, S: 开发文档 (Development)

#760 [翻译完成] src/docs/reference/crash-reporting.md
  src/docs/reference/crash-reporting.md
Labels: PRI: 需要校对, Review: ~30分钟
