Repository cfug/flutter.cn, pull requests merged in 2022-04, with the labels that each got.

#1052 [完成翻译] src/deployment/windows.md
  src/deployment/windows.md
Labels: PRI: 需要校对, S: 分发和部署 (Deployment), Review: ~30分钟

#1053 [完成翻译] src/development/tools/pubspec.md
  src/_data/sidenav.yml
  src/development/tools/pubspec.md
Labels: S: 开发文档 (Development), PRI: 待润稿, Review: ~30分钟

#1050 [内容修订] src/get-started/*
  src/get-started/codelab.md
  src/get-started/editor.md
  src/get-started/flutter-for/android-devs.md
  src/get-started/flutter-for/declarative.md
  src/get-started/flutter-for/ios-devs.md
  src/get-started/flutter-for/react-native-devs.md
  src/get-started/flutter-for/web-devs.md
  src/get-started/flutter-for/xamarin-forms-devs.md
  src/get-started/install/_analytics.md
  src/get-started/install/_android-setup-chromeos.md
  src/get-started/install/_android-setup.md
  src/get-started/install/_get-sdk-chromeos.md
  src/get-started/install/_get-sdk-linux.md
  src/get-started/install/_get-sdk-mac.md
  src/get-started/install/_get-sdk-win.md
  src/get-started/install/_ios-setup.md
  src/get-started/install/_linux-desktop-setup.md
  src/get-started/install/_path-linux-chromeos.md
  src/get-started/install/_path-mac.md
  src/get-started/install/chromeos.md
  src/get-started/install/index.md
  src/get-started/install/linux.md
  src/get-started/install/macos.md
  src/get-started/install/windows.md
  src/get-started/test-drive/_main-code-note.md
  src/get-started/test-drive/_package-name.md
  src/get-started/test-drive/_restart-vscode.md
  src/get-started/test-drive/_terminal.md
  src/get-started/test-drive/_try-hot-reload.md
  src/get-started/test-drive/_vscode.md
  src/get-started/web.md
Labels: S: 起步 (Get started), E: 页面问题, S: Team

#1065 [内容修订] src/_layouts/base.html
  src/_layouts/base.html
Labels: S: Team

#1072 [Infra] Remove Dependabot
  .github/dependabot.yml
Labels: S: Team/Infra

#1073 [Infra] 🔒️ Request @cfug/localization as CODEOWNERS
  CODEOWNERS
Labels: S: Team/Infra
